body {
    display: flex;
    flex-flow: column;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.header {
    display: flex;
    color: white;
    background-color: #1f2937;
}

.header ul {
    flex: 1;
    display: flex;
    gap: 20px;
    padding: 0px;
}

.header li {
    list-style-type: none;
}

.header ul a {
    text-decoration: none;
    color: white;
}

img {
    width: 300px;
}

.footer {
    background-color: #1f2937;
    text-align: center;
    padding: 30px;
}

.footer a {
    text-decoration: none;
    color: #E5E7EB;
}

.page {
    display: flex;
    flex-flow: column;
    flex: 1;
}
.container2, .container3, .container4 {
    flex: 1;
    display: flex;
}

.logo {
    flex: 1;
    font-size: 24px;
    font-weight: bold;
    width: 350px;
    margin-top: 10px;
}

.container {
    display: flex;
    background-color: #1f2937;
    flex-flow: column;
    flex: 1;
}

.main {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    color: #FFFFFF;
    gap: 7px;
    justify-content: center;
    align-items: center;
}

.image {
    flex: 1;
    text-align: center;
    display: flex;
    flex-flow: column;
}
.image img {
    width: 390px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hello {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    width: 350px;
    flex: 1;
}
.text {
    width: 430px;
    font-size: 18px;
    color: #E5E7EB;
    flex-shrink: 1;
    margin-left: 4.5em;
}

.button1 button {
    color:white;
    font-weight: bold;
    background-color: #3882F6;
    border: 0px;
    border-radius: 9px;
    margin-top: 5px;
    font-size: 16px;
    padding: 6px 30px;
}

.button1 {
    width: 350px;
    flex: 1;
}

.container2 {
    display: flex;
    flex-flow: column;
}

.text2 {
    align-self: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 50px;
}

.Box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.box1, .box2, .box3, .box4 {
    flex: 0;
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.Box .boxes {
    border-radius: 15px;
    border: #3882F6;
    border-style: solid;
    width: 150px;
    height: 150px;
}

.Box .text3 {
    color: #605656;
}

.container3 {
    display: flex;
    flex-flow: column;
    background-color: #E5E7EB;
    padding: 7em;
    align-items: center;
}

.quote {
    width: 820px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: lighter;
}

.author {
    text-align: end;
    width: 820px;
    font-size: 24px;
    font-weight: bold;
    margin-right: 2em;
}

.container4 {
    justify-content: center;
}

.container4 .containerBox {
    width: 65%;
    display: flex;
    height: 170px;
    margin: 6em;
    background-color: #3882F6;
    border-radius: 15px;
}

.containerBox .recruit  {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 9em;
    gap: 5px;
}
.containerBox .infobutton {
    align-self: center;
    flex: 1;
    text-align: center;
}
.containerBox .infobutton button {
    padding: 6px 36px;
    border-radius: 9px;
    background: #3882F6;
    border-style: solid;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.recruit div {
    font-size: 26px;
    color: white;
    font-weight: bolder;
}

.recruit .info {
    font-size: 18px;
    font-weight: normal;
}